/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
                    /*Specific Items*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/

.title-page {
    margin: auto;
    background-color: #441A23;
    max-width: 800px;
    

    color: #F6B7BE;
    font-family: 'Graduate', cursive;
    text-align: center;

    padding: 0 10px;
}

.title-page header {
    margin: 0 0 0 0;
}

.title-page section {
    margin: 50px 0;
}

.title-page header {
    border-bottom: solid #F6B7BE 1px; 
}

.title-page a {
    text-decoration: none;
    color: #F6B7BE;
}

.title-page a:visited {
    color: #F6B7BE;
}

.title-page footer {
    border-bottom: solid #F6B7BE 1px;
}

/*---------------------------------------------------------*/
/*---------------------------------------------------------*/

.info-page {
    margin: auto;
    background-color: #F4EEE2;
    max-width: 800px;

    color: #403C35;
    font-family: 'Graduate', cursive;
    text-align: center;

    padding: 0 10px;
}

.info-page header {
    margin: 0 0 0 0;
}

.info-page section {
    margin: 50px 0;
}

/*---------------------------------------------------------*/
/*---------------------------------------------------------*/

.contents-page {
    margin: auto;
    background-color: #F4EEE2;
    max-width: 800px;

    color: #403C35;
    font-family: 'Graduate', cursive;
    text-align: center;

    padding: 0 10px;
}

.pag {
    text-align: left;
    font-size: 12px;
}

.contents-page section h2 {
    font-size: 40px;
    margin: 40px 0 20px 0;
}

.list {
    text-align: left;
    display: inline-block;
    margin: 0 0 100px 0;
}

/*---------------------------------------------------------*/
/*---------------------------------------------------------*/

.chapter-page {
    margin: auto;
    background-color: #F4EEE2;
    max-width: 800px;

    color: #403C35;
    font-family: 'Graduate', cursive;
    text-align: center;

    padding: 0 10px;
}

.chapter-page section h2 {
    font-size: 40px;
    margin: 25% 0 20px 0;
}

.chapter-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    margin: 0 0 25% 0;
}

/*---------------------------------------------------------*/
/*---------------------------------------------------------*/

.normal-page {
    margin: auto;
    background-color: #F4EEE2;
    max-width: 800px;

    color: #403C35;
    font-family: 'Graduate', cursive;
    text-align: center;

    padding: 0 10px;
}

/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
                    /*General Items*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/

header {
    border-bottom: solid #403C35 1px;
}

.author {
    margin: 20px 0 0 0;
    font-family: 'Libre Baskerville', serif;
}

.title1 {
    font-size: 60px;
    margin: auto;
}

.title2 {
    margin: auto;
    font-family: 'Libre Baskerville', serif;
}

.title3 {
    font-size: 40px;
    margin: auto;
}

.volume {
    margin: 100px 0 0 0;
}

footer {
    font-family: 'Montserrat', sans-serif;
    border-bottom: solid #403C35 1px;
}

/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
                    /*Other General Items*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/

nav {
    font-size: 50px;
    margin: 0 0 20px 0;
}

a {
    text-decoration: none;
    color: #403C35;
}

a:visited {
    color: #403C35;
}

.reverse {
    display: inline-block; 

    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}


/*colores libro

fondo fuera: #232323
fondo portada: #441A23

*/

/*colores hojas

letras: #403C35
fondo:  #F4EEE2

fuentes: 
font-family: 'Graduate', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Libre Baskerville', serif;

*/
